<li> 
    <h3>{{dessert_name}}</h3>

    {{#if devoured}}
        <button class='btn btn-primary change-state' data-id='{{id}}' data-newDevoured='{{devoured}}'>
            Devour It!
        </button>
    {{/if}}
</li>