<header class = 'col-12'>
    <h1> Saweetie </h1>
</header>

<section>

</section>

<section id = 'not-devoured' class='col-md-6'>
    <h2>Desserts waiting to be devoured!</h2>
    <ul>
        {{#each sweets}}
                {{#unless devoured}}
                        {{> sweets/sweets-block devoured=true}}
                {{/unless}}
        {{/each}}
    </ul>
</section>

<section id = 'devoured' class='col-md-6'>
    <h2>Desserts you devoured!</h2>
    <ul>
        {{#each sweets}}
                {{#if devoured}}
                        {{> sweets/sweets-block devoured=false}}
                {{/if}}
        {{/each}}
    </ul>
</section>

<form class='create-form'>
    <div class = 'form-group'>
        <label for = 'dessert'>Dessert: </label>
        <input type="text" id = 'de' name='dessert'>
    </div>

    <button class='btn btn-outline-primary' type='submit'>Add Your Sweet!</button>
</form>
